@use "../../../variables" as v;

.feedback {
	padding: 6rem 0;

	background-color: v.$gray;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: v.$gap-xxl;

		.feedback-title {
			text-align: center;
			color: v.$primary;
		}

		.feedback-cards {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: v.$gap-xl;

			.feedback-cards-card {
				padding: 1.4rem;

				max-width: 29rem;
				width: 100%;

				display: flex;
				flex-direction: column;
				gap: v.$gap-md;

				border-radius: v.$b-1;
				background-color: v.$white;
				box-shadow: 0 0.3rem 0.6rem -0.2rem rgba(v.$dark, 0.2);

				transition: 200ms;

				&:hover{
					transform: translateY(-1rem);
				}

				.feedback-cards-card-title {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					gap: v.$gap-md;

					.feedback-cards-card-title-avatar {
						min-height: 3rem;
						height: 100%;
						max-width: 3rem;

						display: flex;
						align-items: center;
						justify-content: center;

						img {
							width: 100%;
							height: 3rem;

							// object-fit: cover;
							border-radius: 50%;
						}
					}

					.feedback-cards-card-title-info {
						display: flex;
						flex-direction: column;
						justify-content: center;
						//gap: v.$gap-sm;

						h4 {
						}

						.feedback-cards-card-title-info-stars {
							display: flex;
							gap: 0;
							
							img{
								width: 1.2rem;
							}
						}
					}
				}
				.feedback-cards-card-info {
					p {
					}
				}
			}
		}

		.frame {
			div {
				width: 560px;
				height: 310px;

				iframe {
					width: 100%;
					height: 100%;
					border: 1px solid v.$gray;
					border-radius: v.$b-2;
					box-sizing: border-box;

					p {
						color: red !important;
					}
				}

				@media screen and (max-width: 560px) {
					width: 100%;
					height: 350px;
				}
			}
		}
	}
}
