@use "../../../variables" as v;

.hero {
	width: 100%;
	min-height: 100dvh;

	display: grid;
	place-content: center;
	
	background-image: url("../../../../public/hero.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	.container {
		.hero-info {
			display: flex;
			flex-direction: column;
			gap: v.$gap-xl;

			text-align: center;

			.hero-info-title {
				display: flex;
				flex-direction: column;
				gap: v.$gap-md;

				h1 {
					color: v.$white;

					@media screen and (max-width: 700px) {
						font-size: 3em;
					}
				}
				p {
					color: v.$white;

					@media screen and (max-width: 700px) {
						font-size: 1.3em;
					}
				}
			}
		}

		.hero-info-btns {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: v.$gap-md;

			.btn {
				// global styles
				transition: 200ms;

				&:hover, &:focus, &:active {
					transform: translateY(-.4rem);
				}

				// styling each btn
				$alpha: 0.9;
				&:first-child {
					background-color: v.$primary;
					&:hover {
						background-color: rgba(v.$primary, $alpha);
					}
					p {
						color: v.$white;
					}
				}
				&:last-child {
					background-color: v.$white;
					&:hover {
						background-color: rgba(v.$white, $alpha);
					}
					p {
						color: v.$primary;
					}
				}
			}
		}
	}

	.hero-arrow {
		position: absolute;
		left: 50%;
		bottom: 2rem;
		transform: translateX(-50%);

		width: 2rem;
		img {
			object-fit: cover;
			width: 100%;
		}

		animation: jumper 3s infinite ease-in-out;
	}
	@keyframes jumper {
		0% {
			bottom: 2rem;
		}
		50% {
			bottom: 4rem;
			width: 2.2rem;
		}
		100% {
			bottom: 2rem;
		}
	}
}
