@use "variables" as v;

//fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); // font-family: "Roboto", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); // font-family: "Montserrat", sans-serif;

body {
	min-height: 100vh;

	background: v.$white;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	overflow-x: hidden;
}

main {
	width: 100vw;
	min-height: 100dvh;
}

.container {
	padding: 0 2rem;
	margin: auto;
	width: 100%;
	max-width: 1600px;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: v.$dark;
}

ul,
ol {
	list-style: none;
}

.btn {
	padding: 0.6rem 2rem;
	border-radius: v.$b-2;
	border: 2px solid transparent;
	cursor: pointer;
}

// montserrat
.m-h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 4.5em;
	font-weight: 700;
}
.m-h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 2.25em;
	font-weight: 700;
}
.m-h3 {
	font-family: "Montserrat", sans-serif;
	font-size: 1.25em;
	font-weight: 700;
}
.m-link {
	font-size: 1em;
	font-weight: 600;
}

// roboto
.r-h2 {
	font-family: "Roboto", sans-serif;
	font-size: 2.25em;
	font-weight: 700;
}
.r-rg1 {
	font-family: "Roboto", sans-serif;
	font-size: 1.5em;
	font-weight: 400;
}
.r-rg2 {
	font-family: "Roboto", sans-serif;
	font-size: 1.125em;
	font-weight: 400;
}
.r-rg3 {
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	font-weight: 400;
}
