@use "variables" as v;

//fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
	min-height: 100vh;

	background: v.$white;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	width: 100vw;
	min-height: 100dvh;
}

.container {
	padding: 0 2rem;
	margin: auto auto;
	width: 100%;
	max-width: 1400px;
}

a {
	text-decoration: none;
	color: v.$dark;
}

ul,
ol {
	list-style: none;
}

.btn{
	border-radius: .5rem;
	padding: 0.6rem 2rem;
	cursor: pointer;
}

.link{
	font-size: 1em;
	font-weight: 400;
}
