// light theme
$white: #FFFFFF;
$gray: #F6F6F6;
$dark: #000000;
$dark-bright: #252422;
$beige: #CCC5B9;
$secondary: #CCC5B9;
$primary: #32936F;
$primary-dark: #2B7C5E;
$warning: #FFA13C;

// // dark theme
// $dark-theme: false;

// @if $dark-theme {
//    $text: #ebebeb;
//    $background: #0d0f11;
//    $primary: #64907b;
//    $secondary: #3d4357;
//    $accent: #504b6c;
// }

//gaps
$gap-xxl: 3rem;
$gap-xl: 2rem;
$gap-lg: 1.5rem;
$gap-md: 1rem;
$gap-sm: 0.5rem;
$gap-ssm: 0.3rem;

// other
$b-1: 0.75rem;
$b-2: 0.5rem;

//z-index
$index-nav: 4;