@use "../variables" as v;

nav {
	position: fixed;
	top: 0;
	left: 0;

	padding: 0 2rem;

	width: 100%;
	height: 4.375rem; //70px

	display: flex;
	justify-content: center;
	align-items: center;

	backdrop-filter: blur(1rem);
	background-color: rgba(v.$dark, 0.9);
	border-bottom: 2px solid v.$dark-bright;
	box-shadow: 0 0 2rem 0rem v.$dark-bright;

	.container {
		position: relative;

		padding: 0 !important; // fix side position of items (bad solution)

		display: flex;
		align-items: center;
		justify-content: center;

		* {
			color: v.$white;
		}

		.nav-logo {
			position: absolute;
			left: 0;

			width: 100%;
			max-width: 3rem;
			img {
				width: 100%;
			}
		}

		.nav-links {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: v.$gap-lg;

			li {
				position: relative;

				//undeline hover effect
				&::before {
					position: absolute;
					left: 0;
					top: calc(100% + 0.1rem);

					content: "";

					width: 100%;
					height: 0.1rem;

					background-color: v.$primary;
					box-shadow: 0 0 .8rem .1rem v.$primary;

					transform: scaleX(0);
					transition: transform 200ms;
				}

				&:hover {
					&::before {
						transform: scaleX(1);
					}
				}
			}
		}

		// btn
		.burger-btn {
			position: relative;
			z-index: 5;

			margin-left: auto;

			display: none;

			width: 40px;
			height: 30px;

			transition: all 200ms;

			cursor: pointer;

			span {
				$height: 2px;
				position: absolute;
				width: 100%;
				height: $height;
				background-color: v.$white;
				transition: all 0.2s;

				&:nth-child(1) {
					top: 0;
				}
				&:nth-child(2) {
					top: calc(50%);
					transform: translateY(-50%);
				}
				&:nth-child(3) {
					top: calc(100% - $height);
				}
			}
		}

		.nav-btn {
			position: absolute;
			right: 0;

			background-color: transparent;
			border-color: v.$primary;

			transition: background-color 400ms;
			&:hover {
				background-color: v.$primary;
			}

			@media screen and (max-width: 780px) {
				display: none;
			}
		}

		//burger menu
		@media screen and (max-width: 600px) {
			.burger-btn {
				display: flex;
			}

			.nav-links {
				position: fixed;
				right: -50%;
				top: 0;

				padding: 0 4rem;

				width: fit-content;
				height: 100dvh;

				flex-direction: column;
				gap: v.$gap-xl;

				backdrop-filter: blur(4rem);
				background-color: rgba(v.$dark, 0.97);
				box-shadow: 0 0 2rem 0rem v.$dark-bright;
				border-left: 0.1rem solid v.$dark-bright;

				transition: right 100ms;
			}
		}

		.opened {
			span {
				&:nth-child(1) {
					top: 50%;
					transform: rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					transform: rotate(-45deg);
					top: 50%;
				}
			}
		}

		.opened-menu {
			right: 0;
		}
	}
}
