@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  min-height: 100vh;
  background: #FFFFFF;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100vw;
  min-height: 100dvh;
}

.container {
  padding: 0 2rem;
  margin: auto auto;
  width: 100%;
  max-width: 1400px;
}

a {
  text-decoration: none;
  color: #000000;
}

ul,
ol {
  list-style: none;
}

.btn {
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  cursor: pointer;
}

.link {
  font-size: 1em;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.25;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #000000;
  scroll-behavior: smooth;
}

*::after,
*::before {
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 280px) {
  html {
    word-break: break-all;
  }
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2rem;
  width: 100%;
  height: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1rem);
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 4px solid #252422;
  box-shadow: 0 0 2rem 0rem #252422;
}
nav .container {
  position: relative;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .container * {
  color: #FFFFFF;
}
nav .container .nav-logo {
  position: absolute;
  left: 0;
}
nav .container .nav-logo img {
  width: 100%;
  max-width: 2.6rem;
}
nav .container .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
nav .container .nav-links li {
  position: relative;
}
nav .container .nav-links li::before {
  position: absolute;
  left: 0;
  top: calc(100% + 0.1rem);
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: #32936F;
  transform: scaleX(0);
  transition: transform 200ms;
}
nav .container .nav-links li:hover::before {
  transform: scaleX(1);
}
nav .container .burger-btn {
  position: relative;
  z-index: 5;
  margin-left: auto;
  display: none;
  width: 40px;
  height: 30px;
  transition: all 200ms;
  cursor: pointer;
}
nav .container .burger-btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  transition: all 0.2s;
}
nav .container .burger-btn span:nth-child(1) {
  top: 0;
}
nav .container .burger-btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
nav .container .burger-btn span:nth-child(3) {
  top: calc(100% - 2px);
}
nav .container .nav-btn {
  position: absolute;
  right: 0;
  background-color: transparent;
  border-color: #32936F;
  transition: background-color 400ms;
}
nav .container .nav-btn:hover {
  background-color: #32936F;
}
@media screen and (max-width: 780px) {
  nav .container .nav-btn {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  nav .container .burger-btn {
    display: flex;
  }
  nav .container .nav-links {
    position: fixed;
    right: -50%;
    top: 0;
    padding: 0 4rem;
    width: fit-content;
    height: 100dvh;
    flex-direction: column;
    gap: 2rem;
    backdrop-filter: blur(1rem);
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 2rem 0rem #252422;
    border-left: 0.1rem solid #252422;
    transition: right 100ms;
  }
}
nav .container .opened span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
nav .container .opened span:nth-child(2) {
  opacity: 0;
}
nav .container .opened span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}
nav .container .opened-menu {
  right: 0;
}
