@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  min-height: 100vh;
  background: #FFFFFF;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

main {
  width: 100vw;
  min-height: 100dvh;
}

.container {
  padding: 0 2rem;
  margin: auto;
  width: 100%;
  max-width: 1600px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

ul,
ol {
  list-style: none;
}

.btn {
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  cursor: pointer;
}

.m-h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5em;
  font-weight: 700;
}

.m-h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25em;
  font-weight: 700;
}

.m-h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}

.m-link {
  font-size: 1em;
  font-weight: 600;
}

.r-h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.25em;
  font-weight: 700;
}

.r-rg1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

.r-rg2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  font-weight: 400;
}

.r-rg3 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.25;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #252422;
  scroll-behavior: smooth;
}

*::after,
*::before {
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 280px) {
  html {
    word-break: break-all;
  }
}
nav {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1rem);
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 2px solid #252422;
  box-shadow: 0 0 2rem 0rem #252422;
}
nav .container {
  position: relative;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .container * {
  color: #FFFFFF;
}
nav .container .nav-logo {
  position: absolute;
  left: 2rem;
  width: 100%;
  max-width: 2.8rem;
}
nav .container .nav-logo img {
  width: 100%;
}
nav .container .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
nav .container .nav-links li {
  position: relative;
}
nav .container .nav-links li::before {
  position: absolute;
  left: 0;
  top: calc(100% + 0.1rem);
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: #32936F;
  box-shadow: 0 0.1rem 0.8rem 0rem #32936F;
  transform: scaleX(0);
  transition: transform 200ms;
}
nav .container .nav-links li:hover::before {
  transform: scaleX(1);
}
nav .container .burger-btn {
  position: relative;
  z-index: 5;
  margin-left: auto;
  margin-right: 2rem;
  display: none;
  width: 40px;
  height: 30px;
  transition: all 200ms;
  cursor: pointer;
}
nav .container .burger-btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  transition: all 0.2s;
}
nav .container .burger-btn span:nth-child(1) {
  top: 0;
}
nav .container .burger-btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
nav .container .burger-btn span:nth-child(3) {
  top: calc(100% - 2px);
}
nav .container .nav-btn {
  position: absolute;
  right: 2rem;
  background-color: transparent;
  border-color: #32936F;
  transition: background-color 200ms;
}
nav .container .nav-btn:hover {
  background-color: #32936F;
}
@media screen and (max-width: 780px) {
  nav .container .nav-btn {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  nav .container .burger-btn {
    display: flex;
  }
  nav .container .nav-links {
    position: fixed;
    right: -70%;
    top: 0;
    padding: 0 4rem;
    width: fit-content;
    height: 100dvh;
    flex-direction: column;
    gap: 2rem;
    backdrop-filter: blur(4rem);
    background-color: rgba(0, 0, 0, 0.97);
    box-shadow: 0 0 2rem 0rem #252422;
    border-left: 0.1rem solid #252422;
    transition: right 100ms;
  }
}
nav .container .opened span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
nav .container .opened span:nth-child(2) {
  opacity: 0;
}
nav .container .opened span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}
nav .container .opened-menu {
  right: 0;
}

.hero {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  place-content: center;
  background-image: url(/public/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero .container .hero-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.hero .container .hero-info .hero-info-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero .container .hero-info .hero-info-title h1 {
  color: #FFFFFF;
}
@media screen and (max-width: 700px) {
  .hero .container .hero-info .hero-info-title h1 {
    font-size: 3em;
  }
}
.hero .container .hero-info .hero-info-title p {
  color: #FFFFFF;
}
@media screen and (max-width: 700px) {
  .hero .container .hero-info .hero-info-title p {
    font-size: 1.3em;
  }
}
.hero .container .hero-info-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.hero .container .hero-info-btns .btn {
  transition: 200ms;
}
.hero .container .hero-info-btns .btn:hover, .hero .container .hero-info-btns .btn:focus, .hero .container .hero-info-btns .btn:active {
  transform: scale(1.1);
}
.hero .container .hero-info-btns .btn:first-child {
  background-color: #32936F;
}
.hero .container .hero-info-btns .btn:first-child:hover {
  background-color: rgba(50, 147, 111, 0.9);
}
.hero .container .hero-info-btns .btn:first-child p {
  color: #FFFFFF;
}
.hero .container .hero-info-btns .btn:last-child {
  background-color: #FFFFFF;
}
.hero .container .hero-info-btns .btn:last-child:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.hero .container .hero-info-btns .btn:last-child p {
  color: #32936F;
}
.hero .hero-arrow {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  width: 2rem;
  animation: jumper 3s infinite ease-in-out;
}
.hero .hero-arrow img {
  object-fit: cover;
  width: 100%;
}
@keyframes jumper {
  0% {
    bottom: 2rem;
  }
  50% {
    bottom: 4rem;
    width: 2.2rem;
  }
  100% {
    bottom: 2rem;
  }
}

.summary {
  padding: 3rem 0;
  background-color: #FFFFFF;
}
.summary .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1560px) {
  .summary .container {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}
.summary .container .summary-info {
  width: 100%;
  max-width: 45rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.summary .container .summary-info .summary-info-title .m-h2 {
  color: #32936F;
}
.summary .container .summary-info .summary-info-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.summary .container .summary-info .summary-info-advantages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.summary .container .summary-info .summary-info-advantages li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (max-width: 555px) {
  .summary .container .summary-info .summary-info-advantages li {
    width: 100%;
    max-width: 15rem;
    flex-direction: column;
    text-align: center;
  }
}
.summary .container .summary-info .summary-info-advantages li img {
  width: 100%;
  max-width: 1.5rem;
}
.summary .container .summary-photo {
  max-width: 48.3rem;
}
.summary .container .summary-photo img {
  width: 100%;
  border-radius: 0.75rem;
}

.gallery {
  padding: 6rem 0;
  background-color: #F6F6F6;
}
.gallery .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.gallery .container .gallery-title {
  text-align: center;
}
.gallery .container .gallery-title h1 {
  color: #32936F;
}
.gallery .container .gallery-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.gallery .container .gallery-info .gallery-info-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 1200px) {
  .gallery .container .gallery-info .gallery-info-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .gallery .container .gallery-info .gallery-info-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.gallery .container .gallery-info .gallery-info-cards li img {
  width: 100%;
  border-radius: 0.75rem;
  box-shadow: 0 0.3rem 0.6rem -0.2rem rgba(0, 0, 0, 0.8);
}
.gallery .container .gallery-info .btn {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 16rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #32936F;
  border-color: #32936F;
  transition: 200ms;
}
.gallery .container .gallery-info .btn p {
  color: #FFFFFF;
}
.gallery .container .gallery-info .btn svg {
  fill: #FFFFFF;
}
.gallery .container .gallery-info .btn:hover {
  background-color: #F6F6F6;
}
.gallery .container .gallery-info .btn:hover p {
  color: #32936F;
}
.gallery .container .gallery-info .btn:hover svg {
  fill: #32936F;
}

.price {
  padding: 6rem 0;
}
.price .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.price .container .price-title {
  text-align: center;
  color: #32936F;
}
.price .container .price-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.price .container .price-cards .price-cards-card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 94%, #32936F 94%);
  border-radius: 0.75rem;
  box-shadow: 0 0.3rem 0.6rem -0.2rem rgba(0, 0, 0, 0.2);
}
.price .container .price-cards .price-cards-card .price-cards-card-title {
  padding: 1.2rem 1rem;
  width: 100%;
  text-align: center;
  background-color: #2B7C5E;
  border-radius: 0.75rem 0.75rem 0 0;
}
.price .container .price-cards .price-cards-card .price-cards-card-title h3 {
  color: #FFFFFF;
}
.price .container .price-cards .price-cards-card .price-cards-card-info {
  padding: calc(1.2rem + 5px) 1.6rem;
  width: 100%;
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price .container .price-cards .price-cards-card .price-cards-card-info .price-cards-card-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.price .container .price-cards .price-cards-card .price-cards-card-info .price-cards-card-info-content .price-cards-card-info-content-value {
  text-align: center;
}
.price .container .price-cards .price-cards-card .price-cards-card-info .price-cards-card-info-content .price-cards-card-info-content-value h2 {
  color: #2B7C5E;
}
.price .container .price-cards .price-cards-card .price-cards-card-info .price-cards-card-info-content .price-cards-card-info-content-value p {
  color: rgba(0, 0, 0, 0.6);
}
.price .container .price-cards .price-cards-card .price-cards-card-info .price-cards-card-info-content ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.price .container .price-cards .price-cards-card .price-cards-card-info .price-cards-card-info-content ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.price .container .price-cards .price-cards-card .price-cards-card-info .price-cards-card-info-content ul li img {
  width: 14px;
  height: 14px;
}
.price .container .price-cards .price-cards-card .price-cards-card-info .btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #2B7C5E;
  border-color: #2B7C5E;
  transition: 200ms;
}
.price .container .price-cards .price-cards-card .price-cards-card-info .btn p {
  color: #FFFFFF;
}
.price .container .price-cards .price-cards-card .price-cards-card-info .btn:hover, .price .container .price-cards .price-cards-card .price-cards-card-info .btn:focus, .price .container .price-cards .price-cards-card .price-cards-card-info .btn:active {
  background-color: #FFFFFF;
}
.price .container .price-cards .price-cards-card .price-cards-card-info .btn:hover p, .price .container .price-cards .price-cards-card .price-cards-card-info .btn:focus p, .price .container .price-cards .price-cards-card .price-cards-card-info .btn:active p {
  color: #2B7C5E;
}
.price .container .price-cards [in-the-center] {
  border: 3px solid #32936F;
  border-radius: calc(0.75rem + 0px);
}
.price .container .price-cards [in-the-center] .price-cards-card-title {
  background-color: #32936F;
}
.price .container .price-cards [in-the-center] .price-cards-card-info-content-value h2 {
  color: #32936F !important;
}
.price .container .price-cards [in-the-center] .btn {
  background-color: #32936F !important;
  border-color: #32936F !important;
}
.price .container .price-cards [in-the-center] .btn:hover, .price .container .price-cards [in-the-center] .btn:focus, .price .container .price-cards [in-the-center] .btn:active {
  background-color: #FFFFFF !important;
}
.price .container .price-cards [in-the-center] .btn:hover p, .price .container .price-cards [in-the-center] .btn:focus p, .price .container .price-cards [in-the-center] .btn:active p {
  color: #32936F;
}
.price .container .price-info {
  padding: 2rem 2.2rem;
  width: 100%;
  max-width: 50rem;
  background-color: #F6F6F6;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.price .container .price-info .price-info-title {
  text-align: center;
  color: #32936F;
}
.price .container .price-info .price-info-text {
  text-align: center;
}
.price .container .price-info a {
  display: flex;
  gap: 0.5rem;
}
.price .container .price-info a p {
  text-align: center;
  color: #32936F;
}
